* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
}

.sidebar {
  width: 240px;
  background: #111827; 
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: 1px;
  color: #60a5fa;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 14px 25px;
  margin: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar li:hover {
  background: #1f2937;
  transform: translateX(5px);
}
.sidebar li.active {
  background: #2563eb;
  color: white;
}
.main {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
  background: #f9fafb;
}

.main h2 {
  margin-bottom: 20px;
  color: #111827;
}